<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <% if (user) {%>
    <h1>Welcome back <%= user.username %></h1>
    <p>
      Membership:
      <a href="/user/<%= user.id %>/membership-status"
        ><%= user.membership_status ? "Member" : "Not a member" %></a
      >
    </p>
    <p>
      Admin:
      <a href="/user/<%= user.id %>/admin-status"
        ><%= user.is_admin ? "Admin" : "Not an Admin" %></a
      >
    </p>

    <p>
      <a href="/message/<%= user.id %>/create-new-message"
        >Create a new message</a
      >
    </p>
    <small><a href="/user/log-out">Log out</a></small>

    <% } else { %>
    <h1>Welcome visitor</h1>
    <p>Already a member? <a href="/user/log-in">Log In</a></p>
    <p>
      <small>New user: <a href="/user/sign-up">Sign up</a></small>
    </p>
    <% } %>

    <!--  Display messages. -->
    <h2>Messages:</h2>
    <% if (typeof message_list !== 'undefined') { %>
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <hr />
      <% message_list.forEach(function(message) { %>
      <li>
        <p style="font-size: 1.5rem; text-decoration: underline">
          <%= message.title %>
        </p>
        <p style="font-size: 1rem"><%= message.text %></p>
        <% if (user?.membership_status || user?.is_admin) { %>
        <p>
          <small style="font-weight: bold"><%= message.author.name %> - </small>
          <small>(<%= message.timestamp_formatted %>)</small>
        </p>
        <% } %>
        <!-- Show delete message link if user is Admin -->
        <% if (user?.is_admin) { %>
        <p><a href="/message/<%= message.id %>/delete">Delete Message</a></p>
        <% } %>
        <hr />
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
