<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <p><%= user.name %></p>
    <p><%= user.email %></p>
    <p>
      Membership status: <%= user.membership_status ? "Member" : "Not a member"
      %>
    </p>

    <% if (!user.membership_status) { %>
    <form method="POST">
      <label for="membership_code">Input secret code to be a member: </label>
      <input
        name="membership_code"
        placeholder="membership code"
        type="text"
        required
      />
      <button type="submit">Submit</button>
    </form>
    <% } %>
    <p><a href="/">Home</a></p>

    <!--  Display validation errors. -->
    <% if (typeof errors !== 'undefined') { %>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
