<%- include("../partials/head") %> <%- include("../partials/header") %>
<div>
  <h1>Welcome <%= user.username %></h1>
  <p>Membership status: <%= user.membership %></p>

  <form method="POST" action="/dashboard/membership">
    <input type="checkbox" name="membership" id="membership"
    onchange="this.form.submit()" <%= user.membership ? 'checked' : '' %> />
    <label for="membership">Membership</label>
  </form>

  <p>Admin status: <%= user.admin %></p>

  <form method="POST" action="/dashboard/admin">
    <input type="checkbox" name="admin" id="admin" onchange="this.form.submit()"
    <%= user.admin ? 'checked' : '' %> />
    <label for="admin">Admin</label>
  </form>

  <% if (messages.length > 0) {%>
  <h2>Messages:</h2>
  <ul>
    <hr />
    <% messages.forEach((message) => {%>
    <li><%= message.title %></li>
    <li><%= message.content %></li>
    <li><%= message.created_at %></li>

    <!-- Add delete button if user is admin -->
    <% if (user.admin) {%>
    <li>
      <form action="/messages/<%= message.message_id %>/delete" method="POST">
        <input type="hidden" name="message" value="<%= message.message_id %>" />
        <button>Delete</button>
      </form>
    </li>
    <% } %>

    <hr />
    <% }) %>
  </ul>
  <% } else {%>
  <p>
    You have not created any messages.
    <a href="/messages/create">Create message</a>
  </p>
  <% } %>
</div>
